@use "sass:math";
//reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//colors
:root {
  --clr-primary: #f87070;
  --clr-secondary: #70f3f8;
  --clr-tertiary: #d881f8;

  --clr-dark: #161932;
  --clr-dark-1: var(--clr-dark);
  --clr-dark-2: #1e213f;

  --clr-light: #ffffff;
  --clr-light-1: var(--clr-light);
  --clr-light-2: #eff1fa;
  --clr-light-3: #d7e0ff;
  --font-family: "Kumbh Sans";
}
//font-faces
@font-face {
  font-family: "Kumbh Sans";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Slab";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype"),
    url("./assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf") format("truetype"),
    url("./assets/fonts/Space_Mono/SpaceMono-Italic.ttf") format("truetype"),
    url("./assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}
//functions
@function rem($px, $context: 10) {
  @return (math.div($px, $context)) * 1rem;
}
//base
html {
  font-size: 62.5%;
}
body {
  background-color: var(--clr-dark-2);
  font-family: var(--font-family);
  color: var(--clr-light-3);
}

//typography
[class^="heading--"],
[class*=" heading--"],
[class^="body--"],
[class*=" body--"] {
  font-weight: 700;
}
.heading--l {
  font-size: rem(100);
  line-height: rem(120);
  letter-spacing: rem(-5);
}
.heading--m {
  font-size: rem(28);
  line-height: rem(34);
}
.heading--s {
  font-size: rem(16);
  line-height: rem(20);
  letter-spacing: rem(15);
}

.heading--xs {
  font-size: rem(13);
  line-height: rem(16);
  letter-spacing: rem(5);
}

.body--m {
  font-size: rem(14);
  line-height: rem(18);
}

.body--s {
  font-size: rem(12);
  line-height: rem(14);
}
//btn
.btn {
  outline: none;
  border: none;
  font-weight: 700;
  font-size: rem(14);
  line-height: rem(17);
  color: var(--clr-light);
  background-color: var(--clr-primary);
  padding: rem(21) rem(46);
  border-radius: 300px;
}
.clock {
  width: rem(410);
  height: rem(410);
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  border-radius: 50%;
}
.triangle {
  background-color: orange;
  width: 150px;
  margin: 200px;
  display: inline-block;
}
// .triangle:before,
// .triangle:after {
//   content: "";
//   position: absolute;
//   background-color: inherit;
// }
// .triangle,
// .triangle:before,
// .triangle:after {
//   width: 10em;
//   height: 10em;
//   border-top-right-radius: 30%;
// }

// .triangle {
//   transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
// }
// .triangle:before {
//   transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
//     translate(0, -50%);
// }
// .triangle:after {
//   transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
// }
.triangle::before {
  content: "";
  display: block;
  padding-top: 86%;
  background: currentColor;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
